/**
 * ************************************
 *
 * @module css
 * @authors Preston Coldwell, John Le, Christopher Le, Geoffrey Sun, Brandon Chmiel
 * @date 08/18/2023
 * @description style the different aspects of the program
 *
 * ************************************
 */


/* font family: Bricolage Grotesque (300, 500 and 700) */
 @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,500;10..48,700&display=swap');

:root {
  --darkestPrimary: #b39b66;
  --darkPrimary: #C8B282;
  --lightPrimary: #c8b282cc;
  --lightSecondary: #009a00;
  --darkSecondary: #007100;
  --light: lightgray;
  --dark: darkgray;
}

html {
  font-family: 'Bricolage Grotesque', sans-serif;
}

body {
  margin: 0;
}

input {
  font-family: 'Bricolage Grotesque', sans-serif;
}

button {
  font-family: 'Bricolage Grotesque', sans-serif;
}

.loginNav-bar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 4em;
  /* border: 1px solid black; */
  background-color: var(--darkestPrimary);
  align-items: center;
  padding-left: 1em;
}

/* entire nav bar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 4em;
  /* border: 1px solid black; */
  background-color: var(--darkestPrimary);
  align-items: center;
  padding-left: 1em;
}

/* name and logo */
.nav-barLogo {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  align-items: center;
  padding-left: 1em;
}

/* for logo size */
.headerLogo {
  height: 70px;
}

/* nav buttons */
.navLinks {
  border: 1px solid black;
  border-radius: 2em;
  padding: .5em;
  margin: .5em;
}

.signin-nav-bar {
  height: 4em;
  border: 1px solid black;
  background-color: var(--lightPrimary);
  justify-content: center;
  text-align: center;
}

/* blank side panel space */
.sidePanel {
  background-color: var(--darkPrimary);
  height: 100%;
}

.signInPage {
  background-image: linear-gradient(var(--darkPrimary), var(--lightPrimary));
  height: 100vh;
}

.signInContainer {
  margin-top: 3em;
  padding-top: 1em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.signInBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  padding: .5em;
  margin: .5em;
}

.homePageContainer {
  display: grid;
  background-image: linear-gradient( var(--darkPrimary), var(--lightPrimary));
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

/* .navSidePanel {
  border: 1px solid black;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100vh;
  background-color: #D0C59A;
} */

/* .navButton {
  margin-top: .75em;
  margin-bottom: .75em;
  font-size: 2em;
  background-color: transparent;
  border: none;
} */

.plantContainer {
  text-align: center;
}

.totalPlantDataBox {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  min-height: 3em;
}

/* total plants, green score and filter  */
.totalPlantData {
  border: 1px solid black;
  border-radius: 1em;
  padding: .25em;
  margin: 1em;
}

/* container directly holding all the plant cards */
.plantDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plantBox {
  height: auto;
  width: 15em;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 2em;
  box-shadow: 5px 5px 5px var(--darkPrimary);
}

.photoAndInfoTag {
  display: flex;
}

.plantPhoto {
  border: 1px solid black;
  border-radius: 2em;
  background-color: var(--dark);
  margin-bottom: .5em;
  height: 4em;
  width: 4em;
}

.plantName {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  margin-left: 1em;
  padding: 0;
  font-size: 1.8em;
}

.plantDetail {
  margin: .5em;
}

.createContainer {
  align-items: center;
  height: 100vh;
  padding: 5em;
  background-image: linear-gradient( var(--darkPrimary), var(--lightPrimary));
}

.createPlantCard {
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 2rem;
  width: 30rem;
  height: auto;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
}

.createCardHeader {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.createAvatar {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 2em;
  background-color: var(--light);
  height: 8rem;
  width: 8rem;
  overflow: hidden;
}

.avatarImage {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.previewNameBox {
  display: flex;
  align-items: center;
}

.previewName {
  font-size: larger;
  font-weight: bolder;
  margin-left: 1em;
}

.createLabels {
  display: flex;
  align-items: center;
  padding: .1em;
}

.createInput {
  display: flex;
  align-items: center;
  padding: .1em;
  background-color: var(--lightPrimary);
}

#chooseFileButton {
  margin: 0px;
  margin-top: 1em;
  padding: 0px;
}